/* 
People's Radio Stylesheet
v1
Last Updated: 2012-06-22
*/

html { overflow-y: scroll; }
body { background: url("/images/bck.jpg") repeat-x 0 0 #111; max-width: 1800px; min-width: 1072px;
	   font:normal 14px/22px 'Pontano Sans', sans-serif; }
.home { background:transparent url("/images/bck1.png") no-repeat center top; }	   

h1, h2, h3, h4 { font-family: 'Droid Serif', serif; letter-spacing: -1px; }

h2 { font-size: 1.6em; margin-bottom: 20px; color: #ec1447; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
h3 { font-size: 17px; margin-bottom:  10px; color: #aaa;  text-shadow: 2px 2px 2px rgba(0,0,0,0.5); }
h4 { font-size: 17px; color: #41B7D8; font-weight: normal; line-height: 19px; font-family: 'Pontano Sans', sans-serif;  }

a { color: #41B7D8; cursor: pointer; text-decoration: none; font-size: 12px; position: relative; }
a:hover { text-decoration: underline; }

p { color: #777; }

li { list-style: none; }
.fl { float: left; }
.fr { float: right; }

.mr5 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mt10 { margin-top: 10px; }

/* header */ 

header { position: relative; } 
header h1 { position: absolute; top:-60px; font-size: 30px; color: #fff; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.42); } 
#lg { position: absolute; left:15px; top:-99px; z-index: 1; }
.signup { position: absolute; right: 0; top: -66px; text-align: right; }

/* border */
.bd, .bdl, bdr { overflow: hidden; } 
.bd  { border-radius: 10px; }
.bdl { border-radius:0 10px 10px 0; }
.bdr { border-radius:10px 0 0 10px;}

#chat { display: none; }
#topper { height: 300px; }
ul.sml     { margin-top: 80px;padding: 10px 20px; margin-bottom: 10px; }
ul.sml li  { float: left; margin-right: 20px; font-size: 16px; color: #999; padding-left: 25px; } 
.sml .last { float: right; margin: 0; }  
.sml .user { background: transparent url('../images/user.png') no-repeat left 3px; }    
.sml .room { background: transparent url('../images/room.png') no-repeat left 3px; }    

div.liquid { background-color: rgba(0, 0, 0, 0.3); border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05); 
			 min-width: 620px; padding-top: 20px; margin-top: 80px; }
div.solid  { min-width: 620px; margin-top: 10px; }
div.cht    { float: left; padding: 0; margin-left:25px; position: relative; width: 420px; margin-top: 20px; background-color: #fff; border-radius:4px; }
div.side   { margin-top: 10px; }

.sml + .liquid { margin-top: 0; } 

#container article { margin-bottom: 2em; }
#container article.que { padding: 0 20px; }
#container article + article { opacity: 0.3; background:transparent url('/images/lock.png') no-repeat center center; }
#sidebar article { margin-bottom: 2em; }
#container.min + #sidebar + #chat { display: block; }
#container.min { position: relative; left: -380px; width: 250px; margin-right: 0; }
#container.min .sml { display: block; min-height: 800px; }
#container.min .liquid { display: none; }

#content { background-color: rgba(0,0,0,0.2); border-radius: 15px; margin-top: 100px; padding: 10px; position: relative; border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 10px; }

/* homelist */
article.chn a { width: 305px; height: 212px; border-radius: 4px; float: left; margin-right: 10px; margin-bottom: 10px;position: relative; border-radius: 4px; overflow: hidden; opacity:0.7 }
article.chn span { background-color: #000; bottom: 10px; left: 0; padding: 7px 10px 8px; position: absolute; font-size: 18px; color: #fff; }
article.chn a:nth-child(2n+2) { margin-right: 0; }
article.chn a:hover { opacity:1;}
h2.chn { font-size: 20px; color: #41B7D8;}
h2.chn a { font-size: 20px; color: #fff; }
/*Queue List*/
.radio { background:transparent url('/images/albumbck.jpg') no-repeat left top; overflow: hidden; margin-bottom: 20px; border-radius:4px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46); }
.radio span { border-radius: 50px; border: 1px solid #bbb; color: #eee; padding: 3px 10px 2px;  text-transform: uppercase; font-size: 10px; margin-bottom: 10px; display: inline-block; opacity:0.5;}
.radio .atr { padding: 10px 5px; } 
.radio h3 { color: #fff; letter-spacing: 0; margin: 0; }
.radio em { font: italic 12px 'Pontano Sans',sans-serif; display: block; color: #888; }
.radio img { width: 177px;}
.player { float:left; width: 220px; }

.que li { border-top: 1px solid rgba(255, 255, 255, 0.05); border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding: 5px 0; overflow: hidden; line-height: 22px; }
.que li h4  { float: left; margin-right: 10; width: 180px; word-wrap: break-word; }
#vote_queue h4 { width: 365px; word-wrap:break-word; }
.que li h4 em { font-size: 15px; color: #999; margin-left: 5px; }
.que li span { width: 85px; font-size: 15px; color: #999; margin:0 10px; }
.que li:first-child { border-top: none; }
.que li:last-child { border-bottom: none; }
.side .que ul { background-color: #fff; border-radius:4px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);}
.side .que li:first-child { background:transparent url('/images/sound.gif') no-repeat 395px 7px; opacity: 0.7; }
.side .que li h4, .side .que li h4 em, .side .que li span  { font-size: 14px; }

/*chat*/ 
.cht li { padding: 10px 20px; margin-bottom: 5px; border-bottom: 1px solid #eee; }
.cht li:last-child { border-bottom: none; }
.cht p 	{ line-height: 16px; } 
.cht frm { padding: 10px 20px; }

/*Inputs*/
input, textarea { font:normal 14px/22px 'Pontano Sans', sans-serif; }
.frm textarea 	{ border: 1px solid #d1eff8; background-color:#edfbff; border-radius: 4px; resize:none; padding: 4px 5px; width: 95%; }
.frm input	   	{ 	color: #fff; border: 0; border-radius: 4px; cursor: pointer; font-size: 12px; padding: 5px 15px; font-size: 14px; }
.frm input[type="text"] { border: 1px solid #ddd; margin-right: 0; }
				
/* button */

button, .button {
    max-width: 180px;
    min-width: 101px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font:bold 14px/14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    display: inline-block;
    color: #fff;
    height: 36px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
	border-radius: 8px;
}

button:active, .button:active { 
	cursor: pointer; 
    background: none repeat scroll 0 0 #568EAD;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.29) inset;
    color: rgba(255, 255, 255, 0.7);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.42);
}

button:hover, .button:hover { cursor: pointer; }

.create {

	background-image: linear-gradient(bottom, rgb(98,168,186) 42%, rgb(116,189,207) 71%);
	background-image: -o-linear-gradient(bottom, rgb(98,168,186) 42%, rgb(116,189,207) 71%);
	background-image: -moz-linear-gradient(bottom, rgb(98,168,186) 42%, rgb(116,189,207) 71%);
	background-image: -webkit-linear-gradient(bottom, rgb(98,168,186) 42%, rgb(116,189,207) 71%);
	background-image: -ms-linear-gradient(bottom, rgb(98,168,186) 42%, rgb(116,189,207) 71%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(98,168,186)),
		color-stop(0.71, rgb(116,189,207))
	);

	border: none;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4), 0 1px 0 0 rgba(255, 255, 255, 0.47) inset;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.42);
}


*, *:active, *:focus {
    outline: 0 none;
}				

/*blog*/
.blg li { padding-bottom: 10px; margin-bottom: 10px; }
.blg a { font-size: 17px; }

/*stat*/
.sts { display: inline-table; width: 100%; padding-bottom: 10px; }
.sts span { display: block; font-size: 2em; }
.sts p { font-size: 25px; color: #41B7D8; line-height: 36px; display: table-cell; vertical-align: middle; }

/*footer*/
#footer { padding: 20px 3.5%; }
